
/*全局规范border边框为计算在宽高内*/
*{
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;/*webkit内核*/
    
}
/*////////////////////////////////////////*/





body{
	overflow: hidden;
	color:#9097A4;
	font-family: sans-serif;
}

/*img外边框为0px*/
img{

	border:0px;
}
/*/////////////////*/

/*header样式*/
.header{
	position: fixed;
    top: 0px;
   left: 0px;
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow:0px 1px 12px #ddd; 
  z-index: 1;
 


}
/*//////////////////////////////*/

/*nav导航头部样式*/
.nav{
	position: relative;
	top: 62px;
	width: 70.3%;
	height: 50px;
	margin: auto;
	background: #ECEEF2;
	z-index: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	
}
/*/////////////////////////////*/

/*导航li样式*/
.navinfo{
	display: inline-block;
	background: #ECEEF2;
	height: 100%;
    line-height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	left: 0px;
	margin-right: 50px;
	transition:.2s;
	border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;

}
/*/////////////////////////*/


/*导航ul样式*/
.navul{
	padding: 0px;
	width: 100%;
	position: relative;
	height: 100%;
	
	margin: auto;

}
/*/////////////////////////////////*/

/*main的样式*/
.maindis{
  position: absolute;
  
  top: 150px;
  width: 400%;
  height: 450px;
  left: 0px;
  transition:.3s;
}
/*////////////////////*/

/*林东东三个字的样式*/
.lams{
  padding-left: 16%;
  line-height: 70px;
  
  font-size: 24px;
}
/*///////////////////////////*/


/*的简历三个字样式*/
.sresume{
	font-size: 18px;
}
/*/////////////////////////*/

/*头像样式*/
.selfiimg{
   position: relative;
	border-radius: 5px;
	z-index: 999;

}
/*////////////////////////////*/

/*联系我整个div样式*/
.cntactme{
  position:absolute;
  display: inline-block;

  right: 16%;
  top: 10px;
  height: 50px;
}
/*///////////////////////////////*/

/*可隐藏div样式*/
.hiddenable{
   display: inline-block;
   position: relative;
   height: 50px;
   width: 0px;
  line-height: 50px;
  top: 0px;
  box-shadow: 0px 0px 10px #eee;
   overflow: hidden;
   background: #ECEEF2; 
   border-radius: 5px;
   transition:.4s ease-out;
  
  }
/*/////////////////////////////////*/

/*电话等icon样式*/
.conico{
   position: relative;
   margin-left: 16px;
   top: 9px;
   transition:.3s ease-in;

}
/*////////////////////////////*/


/*详细信息 样式*/
.detinfo{
	position: absolute;
	
	top:65px;
	background: #707B91;
	display: none;
	border-radius: 5px;
    transition:.5s;
    box-shadow: 0px 0px 10px #777;
    text-align: center;

}
/*/////////////////////////*/

/*联系我下面隐藏div的样式*/
.info1{
width:200px;
height:60px;
right: 23.3%;  
line-height: 60px;
}

.info2{
	right: 16%;
	width:300px;
	height:60px; 
	line-height: 60px;
}
.info3{
	right:19.5%;
	width: 100px;
	height:  100px;

}
/*/////////////////////////*/

/*联系我右边图标样式*/
.conico:hover{
	transform:rotate(360deg);
}
/*/////////////////*/

/*二维码样式*/
.qrcode{
	margin:10px;
	
}
/*/////////////////*/

/*链接样式*/
.alink{
	text-decoration: none;
	color: white;
}
/*/////////////////*/

/*链接hover样式*/
.alink:hover{
	text-decoration:underline;
}
/*////////////////////////*/

/*可移动内div的样式*/
.mainbody{
	display: inline-block;
	position: relative;
	margin-left: 3.725%;
	margin-right: 3.725%;
	width: 17.55%;
	height: 100%;
	background: #F7F7FA;
	border-radius: 3px;
}
/*/////////////////////////////////*/



/*示例展示中的图片样式*/
.imgdis{
	position: absolute;
	border-radius: 5px;
	transition:.4s;

}
/*////////////////////////////////*/

/*实例展示中的图片hover样式*/
.imgdis:hover{
    
	box-shadow: 0px 3px 8px #999;
	z-index: 999;
}
/*///////////////////////////*/

/*个人简介文字部分样式*/
.posision{
	position: absolute;
	font-size: 20px;
	color: #666;
	padding-left: 10%;
	padding-right: 10%;
	top: 10%;
	line-height: 2;
}
/*/////////////////////////////*/

/*shannon theory txt style*/
.hometxt{
	font-size: 30px;
}
/*//////////////////*/

.namsty{
	font-style: oblique;
	
	margin-left: 60%;
	top: 60%;
	
}

.ownsty{
	padding-top: 5%;
}

/*文字部分属性*/
.atrri{

	font-weight: bolder;
}
/*///////////////////////////*/

/*图片展示大div*/
.mypaintdis{
	position: absolute;
	left: 60%;
	top: 22%;
	

	
}
/*/////////////*/

/*自我介绍图片样式*/
.mypaimg{
 border-radius: 5px;
 transition:.3s;

}
/*////////////////*/

/*图片hover样式*/
.mypaimg:hover{
	box-shadow: 0px 3px 6px #aaa;
}
/*/////////////////////*/

/*按钮样式*/
.previous{

	top: 45px;

}

.hide{
	
	top: 90px;
	}
.butt:hover{
	box-shadow: 0px 3px 6px #aaa;
}
.butt{
	position: absolute;
	width: 80px;
	height: 40px;
	border: 0px;
	border-radius: 5px;
    margin-left: 5px;
    transition:.3s;
    outline: none;
}
.butt:active{
	background: #707B91;
	color: white;
	box-shadow: none;
}
/*/////////////////////////////////////*/