/** custom login button **/
*,*:after,*:before{
	box-sizing: border-box;
}

body{
	background-image:url(../img/bac.jpg); 
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.flatbtn-blu {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	outline: 0;
	border: 0;
	color: #edf4f9;
	text-decoration: none;
	background-color: #4f94cf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	font-size: 1.4em;
	font-weight: bold;
	padding: 12px 26px 12px 26px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.flatbtn-blu:hover {
	color: #fff;
	background-color: #519dde;
}

.flatbtn-blu:active {
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

#loginmodal {
	display: none!important;
	box-sizing: border-box;
	padding: 15px 20px 0 50px;
	background: #f3f6fa;
}

#loginform label {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	color: #7c8291;
	margin-bottom: 3px;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition: all .2s ease-in-out;
}

a:hover {

	color: #4BAAC7;
	text-decoration: none;

}

.content {
	width: 200%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	overflow: auto;
}

.content_login {
	width: 200%;
	height: auto;
	padding: 25px;
	margin: 0 auto;
	valign: middle;
	text-align: center;
}

.leftcontact {
	padding-top: 45px;
	display: none;
	float: left;
	height: auto;
	width: 50%;
	margin: 0 auto;
	position: relative;

}

.leftheader {
	z-index: 2;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #EC64B5;
	box-shadow: 0px 1px 6px rgba(0,0,0,.3);
	padding: 5px 20px;
}
.leftheader span:first-child{
	position: relative;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 4px;
	overflow: hidden;
	vertical-align: middle;
	box-shadow: 0px 1px 0px #ddd;
}
.leftheader img{
	width: 100%;
	line-height: 40px;
	vertical-align: middle;

}

.login_user_title {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}

.leftheader-font {
	font-size: .8rem;
	color: #fff;
	text-decoration: none;
}

.chatRight {
	width: 50%;
	padding: 10px;
	
}

.chat01_title {
	position: fixed;
	width: 100%;
	background: #EC64B5;
	left: 0;
	top: 0;
	z-index: 1;
	box-shadow: 0px 1px 6px rgba(0,0,0,.3);;
	text-align: center;
}

.chat03_title {
	background-color: #5D6978;
	height: 30px;
	position: relative;
}
#recycle{
	display: none;
}
.talkTo {
	padding: 10px;

}


.talkTo .icon-refresharrow{
	color: #fff;
	font-size: 1.5rem;
	display: inline-block;
	float: left;
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	vertical-align: middle;
}

.talkTo li {
	text-align: center;
}

.talkTo li a {
	text-decoration: none;
	font-size: 1rem;
	color: #fff;

}

.close_btn {
	background: url('../img/icon.png') no-repeat 0 0;
	position: absolute;
	top: 10px;
	right: 8px;
	display: block;
	width: 15px;
	height: 15px;
}
.chat02{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	overflow: auto;
	background: #eee;
	padding: 15px 10px;
	transition: all .3s ease-in-out;
}

.chat02_title {
	position: relative;
	float: left;
	width: 20%;
}

.chat02_bar {

	position: relative;
	margin-bottom: 0px;
	float: left;
	width: 20%;
}

.chat02_bar ul {
	height: 100%;
	
}

.chat02_bar .icon-send-btn{

	width: 40px;
	height: 40px;
	background: #0590E0;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: 1.5rem;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

}
.chat02_bar .icon-peoplefill{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	color: #0590E0;
	font-size: 1.5rem;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.chat03_title_t {
	background: url('../img/icon.png') no-repeat 0px -370px;
	position: absolute;
	padding-left: 25px;
	top: 8px;
	left: 20px;
	display: block;
	width: auto;
	height: 15px;
	font-size: 12px;
	font-weight: bold;
}

.chat01_content {
	display: none;
	width: 100%;
	overflow-x: none;
	overflow-y: auto;
	padding-bottom: 70px;
	padding-top: 40px;


}

.chat02_content {
	height: auto;
	width: 60%;
	float: left;


}

.chat03_content_ul {

	text-align: left;
	font-size: 12px;
	color: #333;
	margin: 0px 0px;
	overflow-y: auto;
	position: relative;
	resize: none;
}
.chat03_content_ul li{


	border-bottom: 1px solid #CCC;
	background: rgba(255,255,255,.2);
	padding: 8px 15px;
	color: #333;
	font-size: 1rem;
}
.chat03_content_ul li .icon-peoplefill{
	background: #eee;
	width: 40px;
	height: 40px;
	border: none;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	color: #4BAAC7;
	box-shadow: 0px 0px 1px rgba(0,0,0,.1);
}

.chat03_content {
	height: 480px;
	text-align: left;
	font-size: 12px;
	color: #333;
	margin: 0px 0px;
	overflow-y: auto;
	position: relative;
	resize: vertical;
}

.chat02_content textarea {
	border: medium none;
	display: block;
	width: 95%;
	height: 40px;
	vertical-align: middle;
	overflow-y: auto;
	font-size: .8rem;
	padding: 5px;
	resize: vertical;
}

.chat03_name {
	color: #333;
	position: absolute;
	top: 9px;
	left: 40px;
	display: block;
	height: 480px;
}

.chat-content-p3 {
	white-space: pre-wrap;
	border-radius: 5px;
	position: relative;
	padding: 10px; 

}
.setShadow{
	box-shadow: 0px -1px 8px rgba(0,0,0,.2);
}

.chat01_content p1,.chat01_content p2{
	color: #999;

}
.chat03_content ul {
	position: relative;
}

.chat03_content ul li {
	position: relative;
	padding: 3px 6px;
	height: 31px;
	_padding-bottom: 0px;
}

.chat03_content ul li.hover {
	background: #ebeef3;
}

.chat03_content ul li.choosed {
	background: #ebeef3;
}

.chat03_content ul li a {
	
}
.host-div{
	margin-bottom: 10px;
	overflow: auto;
	padding-bottom: 5px;
	
}
.guest-div{
	margin-bottom: 10px;
	overflow: auto;
	padding-bottom: 5px;
}
.host-div p1{
	position: relative;
	height: 35px;
	background: #0078D7;
	border-radius: 50%;
	overflow: hidden;
	// color: transparent;
	line-height: 35px;
	display: inline-block;
	float: right;
	width: 35px;
	text-align: center;
	vertical-align: middle;

}
// .host-div p1:after{
// 	content: "我";
// 	width:100%;
// 	height: 100%;
// 	position: absolute;
// 	background: #0590E0;
// 	left: 0;
// 	top: 0;
// 	color: #fff;
// 	border-radius: 50%;


// }
.host-div p2{
	display: none;
}

.host-div p3{
	position: relative;
	float: right;
	display: inline-block;
	font-size: 1rem;
    line-height: 1.5;
    padding: 8px;
    background: #B1E765!important;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    max-width: 80%;
    vertical-align: middle;
    margin-right: 16px;
}

.host-div .chat-content-p3 .guest-img-get{
	position: absolute;
	top: 0;
	width: 35px;
	height: 35px;
	right: -51px;

} 
.guest-div .chat-content-p3 .guest-img-get{
	display: inline-block;
	position: absolute;
	top: 0;
	width: 35px;
	height: 35px;
	left: -51px;
	
}

.host-div p3:after{
	content: "";
	width: 16px;
	height: 16px;
	background: transparent;
	position: absolute;
	right: -6px;
	top: 0;
	border-top-right-radius: 2px;
	transform:skew(-35deg,0deg);
	-webkit-transform:skew(-35deg,0deg);
	border-left: 8px solid transparent;
	border-right: 8px solid #B1E765;
	border-top: 8px solid #B1E765;
	border-bottom: 8px solid transparent;
	-webkit-box-shadow: 1px 0px 0px rgba(0,0,0,.05);
    box-shadow: 1px 0px 0px rgba(0,0,0,.05);
}
.guest-div p1{
	position: relative;

	height: 35px;
	background: transparent;

	overflow: hidden;
	color: #fff;
	line-height: 35px;
	display: inline-block;
	float: left;
	width: 35px;
	text-align: center;
	vertical-align: middle;
}
.guest-div p2{
	display: none;
}
.guest-div p1:after{
	content: "匿";
	width:100%;
	height: 100%;
	position: absolute;
	background: #666;
	left: 0;
	top: 0;
	color: #fff;

}
.guest-div p3{
	position: relative;
	display: inline-block;
	font-size: 1rem;
    line-height: 1.5;
    padding: 8px;
    margin-left: 16px;
    color: #333;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    max-width: 80%;
    vertical-align: middle;
}


.guest-div p3:after{
	content: "";
	width: 16px;
	height: 16px;
	background: transparent;
	position: absolute;
	left: -5px;
	top: 0;
	border-top-left-radius: 2px;
	transform:skew(35deg,0deg);
	-webkit-transform:skew(35deg,0deg);
	border-right: 8px solid transparent;
	border-left: 8px solid #fff;
	border-top: 8px solid #fff;
	border-bottom: 8px solid transparent;
	-webkit-box-shadow: -1px 0px 0px rgba(0,0,0,.1);
    box-shadow: -1px 0px 0px rgba(0,0,0,.1);
}
.chat03_content ul img {
	width: 30px;
	height: 30px;
}

.chat02_title_btn {
	cursor: pointer;
	float: left;
	display: block;
}

.ctb01 {
	display: none;
	background-position: 0 -90px;
	margin-left: 18px;
	_margin-left: 8px;
}

.ctb03 {
	background-position: 0 -152px;
	height: 40px;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	color: #0590E0;
	vertical-align: middle;
	line-height: 40px;
}

.ctb02 {
	display: none;
	background-position: 0 -457px;
}

.chat02_title_t {
	background: url('../img/icon.png') no-repeat 0px -487px;
	position: absolute;
	padding-left: 170px;
	top: 8px;
	right: 20px;
	display: block;
	width: auto;
	height: 15px;
}

.chat02_title_t a {
	color: #333;
	font-size: 12px;
	text-decoration: none;
}

.chat02_title_t a:hover {
	color: #f60;
}

.wl_faces_box {
	display: none;
	position: absolute;
	width: 100%;
	height: 225px;
	bottom: 22px;
	display: none;
}

.wl_faces_content {
	border: 1px #ccc solid;
	width: 100%;
	height: 216px;
	margin: 3px 4px;
}

.wl_faces_content .title {
	background: url('../img/wlf_title_bg.jpg') repeat-x 0 0;
	height: 40px;
	position: relative;
}

.wl_faces_content .title ul {
	
}

.wl_faces_content .title ul li {
	position: absolute;
	display: block;
}

.wl_faces_content .title ul li.title_name {
	background: url('../img/wlf_title_btn.jpg') no-repeat 0 0;
	width: 82px;
	height: 30px;
	bottom: 0;
	_bottom: -2px;
	left: 15px;
	text-align: center;
	line-height: 32px;
	font-weight: bold;
	color: #333;
}

.wl_faces_content .title ul li.wl_faces_close {
	right: 8px;
	top: 15px;
}

.wl_faces_content .title ul li.wl_faces_close span {
	background: url('../img/icon.png') repeat-x 0 0;
	cursor: pointer;
	display: block;
	width: 15px;
	height: 15px;
}

.wl_faces_main {
	
}

.wl_faces_main ul {

	overflow: hidden;
	border-top: 1px #CCC solid;
	border-left: 1px #CCC solid;
	width: 100%;
	margin: auto;
}

.wl_faces_main ul li {
	float: left;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	margin: -1px 0 0 -1px;
	padding: 8px 4px;
	text-align: center;
}

.wl_faces_main ul li img {
	width: 22px;
	height: 22px;
}

.wlf_icon {
	background: url('../img/layer_arrow.png') no-repeat 0 0;
	position: absolute;
	width: 22px;
	height: 9px;
	bottom: -4px;
	_bottom: -11px;
	left: 10px;
}

.chat03_content li label {
	display: block;
	position: absolute;
	width: 9px;
	height: 9px;
	left: 27px;
}

label.online {
	background: url('../img/status.gif') no-repeat 0 0;
	_background: url('../img/status.gif') no-repeat 0 5px;
	bottom: 4px;
	_bottom: 2px;
}

label.offline {
	background: url('../img/status.gif') no-repeat 0 -11px;
	bottom: 4px;
	_top: 25px;
	align: center
}

.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.modal-backdrop {
    *display: none;
}
.fade.in {
	opacity: 1;
}
.badgegroup,
.badge {
    *margin-top: -30px;
}
.accordion-inner {
    *position: relative;

}

.talkTo .turn-back{
	width: 40px;
	float: left;
	margin: 0;
	margin-top: 3px;
}
.turn-back img{
	width: 100%;
	line-height: 42;
	vertical-align: middle;
}

body{
	// overflow-y: auto;
	width: 100%;
	height: 100%;
}

#leftcontact,.chatRight{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	
}
.chatRight{
}

// animation of sending button
@-webkit-keyframes zoomfadein{
	0%{
		display:inline-block;
		-webkit-transform:scale(0);
		transform:scale(0)
	}
	100%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}
@keyframes zoomfadein{
	0%{
		display:inline-block;
		-webkit-transform:scale(0);
		transform:scale(0)
	}
	100%{
		-webkit-transform:scale(1);
		transform:scale(1)
	}
}
@-webkit-keyframes zoomfadeout{
	0%{
		-webkit-transform:scale(1);
		transform:scale(1)
		}
	100%{
		-webkit-transform:scale(0);
		transform:scale(0);
		display:none
		}
	}
@keyframes zoomfadeout{
		0%{
			-webkit-transform:scale(1);
			transform:scale(1)
		}
		100%{
			-webkit-transform:scale(0);
			transform:scale(0);
			display:none
		}
	}
.zoom-fadein{ 	
	animation: zoomfadein .3s;
	-webkit-animation: zoomfadein .3s;

}

.zoom-fadeout{
	animation: zoomfadeout .3s;
	-webkit-animation: zoomfadeout .3s;
}

// 开启3d硬件加速
.cube {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
 
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   /* Other transform properties here */
}


#waitLoginmodal img{
	width: 30px;

}


.contact-list-annoyed .accordion .chat03_content_ul span{
	display: none;
}

.chat-pannel-annoyed .chat01_title #talkTo a{
	display: none;
}
.chat-pannel-annoyed #chat01 .guest-div .guest-img-get{
	display: none;
}
.contact-list-annoyed .accordion .chat03_content_ul{
	counter-reset: list;
}
.contact-list-annoyed .accordion .chat03_content_ul li::after{
	content: "匿名人士 "counter(list);
	counter-increment: list 1;
}
.contact-list-annoyed .accordion .chat03_content_ul .removeAfter::after{
	content: '';
	counter-increment: none;

}
.chat-pannel-annoyed #chat01 .talkTo #talkTo::after{
	content: "匿名聊天中…";
	color: #fff;
	margin-left: -40px;
	font-size: 1rem;
}

.contact-list-annoyed #momogrouplistUL img.icon-peoplefill{
 	display: none;
}

.contact-list-annoyed #momogrouplistUL .iconfont.icon-peoplefill{
 	display: inline-block;
}

#momogrouplistUL img.icon-peoplefill{
 	display: inline-block;
}

#momogrouplistUL .iconfont.icon-peoplefill{
 	display: none;
}

.game-rule-title{
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 1.3;
	margin-bottom: 10px;
}
.game-rule-content{
	line-height: 1.5;

}
.time-append{
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
.time-append .time-tip{
	display: inline-block;
	font-size: .6rem;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	padding: 0 5px;
	color: #fff;
	margin: auto;
}

.especialiaforight .host-div .guest-img-get{
	display: none;
}

.especialiaforight .host-div p1{
	background-color: #666;
	border-radius: 0;
	color: transparent;
}
.especialiaforight .host-div p1::after{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: 0;
	content: "匿";
	color: #fff;
	line-height: 35px;
	font-size: 1rem;

}

.especialiaforight .guest-div p1:after{
	content: "";
	background-color: #0590E0;
}

.download-app{
	position: absolute;
	font-size: .6rem;
	background-color: #D66E1A;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0px 2px 0px #D6581C, 1px 1px 3px rgba(0,0,0,.3), -1px -1px 0px #E37E29;
	right: 5px;
	top: 5px;
}

.share-to-space#confirm-div{
	background: transparent!important;
	color: #fff;
	box-shadow: none!important;
	border: 2px solid #fff;

}

.share-to-space#confirm-div #warning-cancel{
	display: none;
}
.share-to-space#confirm-div img{
	position: absolute;
	top: -80px;
	right: 0px;
	width: 70px;
	height: 100px;
}

.new-msg-hint::before{
	position: absolute;
	content: "NEW";
	color: #fff;
	font-size: .5rem;
	border-radius: 50%;
	padding: 3px;
	right: 30px;
	top: 16px;
	background-color: #D6391C;
}

.contact-list-annoyed .accordion .chat03_content_ul .new-msg-hinting{
	display: block;
	position: absolute;
	top: 18px;
	left: 170px;
	font-size: .8rem;
	color: #888;
	max-width: 30%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;

}
.contact-list-annoyed .accordion .chat03_content_ul li{
	position: relative;
}