
.icon-snownight2:before { content: "\e69c"; }
.icon-umbrellaf:before { content: "\e6ba"; }
.icon-wind:before { content: "\e6bb"; }
.icon-wind2:before { content: "\e6bc"; }
.icon-windcloud:before { content: "\e6bd"; }
.icon-windcone:before { content: "\e6be"; }
.icon-thunderstormday1f:before { content: "\e6bf"; }
.icon-thunderstormday2:before { content: "\e6c0"; }
.icon-thunderstormday2f:before { content: "\e6c1"; }
.icon-thunderstormf:before { content: "\e6c2"; }
.icon-thunderstormfullmoon1:before { content: "\e6c3"; }
.icon-thunderstormfullmoon1f:before { content: "\e6c4"; }
.icon-thunderstormfullmoon2:before { content: "\e6c5"; }
.icon-thunderstormfullmoon2f:before { content: "\e6c6"; }
.icon-thunderstormnight1:before { content: "\e6c7"; }
.icon-thunderstormnight1f:before { content: "\e6c8"; }
.icon-thunderstormnight2:before { content: "\e6c9"; }
.icon-windday:before { content: "\e6ca"; }
.icon-windfullmoon:before { content: "\e6cb"; }
.icon-windmoon:before { content: "\e6cc"; }
.icon-windnight:before { content: "\e6cd"; }
.icon-windsun:before { content: "\e6ce"; }
.icon-windturbine:before { content: "\e6cf"; }
.icon-windturbinef:before { content: "\e6d0"; }
.icon-windconef:before { content: "\e6d1"; }
.icon-snowflake:before { content: "\e67a"; }
.icon-rain1f:before { content: "\e67b"; }
.icon-rainandsnow:before { content: "\e67c"; }
.icon-rainandsnowf:before { content: "\e67d"; }
.icon-rainday:before { content: "\e67e"; }
.icon-raindayf:before { content: "\e67f"; }
.icon-rainfullmoon:before { content: "\e680"; }
.icon-rainfullmoonf:before { content: "\e681"; }
.icon-rainnight:before { content: "\e682"; }
.icon-rainnightf:before { content: "\e683"; }
.icon-severethunderstorm:before { content: "\e684"; }
.icon-severethunderstormf:before { content: "\e685"; }
.icon-snow:before { content: "\e686"; }
.icon-snowday1:before { content: "\e687"; }
.icon-snowday1f:before { content: "\e688"; }
.icon-snowday2:before { content: "\e689"; }
.icon-snowday2f:before { content: "\e68a"; }
.icon-snowday3:before { content: "\e68b"; }
.icon-snowday3f:before { content: "\e68c"; }
.icon-snowf:before { content: "\e68d"; }
.icon-sun2:before { content: "\e68e"; }
.icon-sun2f:before { content: "\e68f"; }
.icon-sunhorizon1:before { content: "\e690"; }
.icon-sunhorizon1f:before { content: "\e691"; }
.icon-sunhorizon2:before { content: "\e692"; }
.icon-sunhorizon2f:before { content: "\e693"; }
.icon-snowfullmoon1:before { content: "\e694"; }
.icon-snowfullmoon1f:before { content: "\e695"; }
.icon-snowfullmoon2:before { content: "\e696"; }
.icon-snowfullmoon2f:before { content: "\e697"; }
.icon-snowfullmoon3:before { content: "\e698"; }
.icon-snowfullmoon3f:before { content: "\e699"; }
.icon-snownight1:before { content: "\e69a"; }
.icon-snownight1f:before { content: "\e69b"; }
.icon-snownight2f:before { content: "\e69d"; }
.icon-snownight3:before { content: "\e69e"; }
.icon-snownight3f:before { content: "\e69f"; }
.icon-sun1:before { content: "\e6a0"; }
.icon-sun1f:before { content: "\e6a1"; }
.icon-thunderstormday1:before { content: "\e6a2"; }
.icon-sunrise:before { content: "\e6a3"; }
.icon-sunrisef:before { content: "\e6a4"; }
.icon-sunset:before { content: "\e6a5"; }
.icon-sunsetf:before { content: "\e6a6"; }
.icon-thermometer1:before { content: "\e6a7"; }
.icon-thermometer1f:before { content: "\e6a8"; }
.icon-thermometer2:before { content: "\e6a9"; }
.icon-thermometer2f:before { content: "\e6aa"; }
.icon-thermometer3:before { content: "\e6ab"; }
.icon-thermometer3f:before { content: "\e6ac"; }
.icon-thermometer4:before { content: "\e6ad"; }
.icon-thermometer4f:before { content: "\e6ae"; }
.icon-thermometer5:before { content: "\e6af"; }
.icon-thermometer5f:before { content: "\e6b0"; }
.icon-thunderbolt1:before { content: "\e6b1"; }
.icon-thunderbolt1f:before { content: "\e6b2"; }
.icon-thunderbolt2:before { content: "\e6b3"; }
.icon-thunderbolt2f:before { content: "\e6b4"; }
.icon-thunderstorm:before { content: "\e6b5"; }
.icon-thunderstormnight2f:before { content: "\e6b6"; }
.icon-tornado1:before { content: "\e6b7"; }
.icon-tornado2:before { content: "\e6b8"; }
.icon-umbrella:before { content: "\e6b9"; }
.icon-dropsf:before { content: "\e621"; }
.icon-eclipse1:before { content: "\e622"; }
.icon-eclipse1f:before { content: "\e623"; }
.icon-eclipse2:before { content: "\e624"; }
.icon-eclipse2f:before { content: "\e625"; }
.icon-eclipse3:before { content: "\e626"; }
.icon-eclipse3f:before { content: "\e627"; }
.icon-eclipse4:before { content: "\e628"; }
.icon-eclipse4f:before { content: "\e629"; }
.icon-hail1f:before { content: "\e62a"; }
.icon-hail2:before { content: "\e62b"; }
.icon-hail2f:before { content: "\e62c"; }
.icon-hailday1:before { content: "\e62d"; }
.icon-hailday1f:before { content: "\e62e"; }
.icon-hailday2:before { content: "\e62f"; }
.icon-hailday2f:before { content: "\e630"; }
.icon-fog2:before { content: "\e631"; }
.icon-fog2f:before { content: "\e632"; }
.icon-fog3:before { content: "\e633"; }
.icon-fog3f:before { content: "\e634"; }
.icon-hail1:before { content: "\e63d"; }
.icon-fullmoon3f:before { content: "\e63c"; }
.icon-fullmoon3:before { content: "\e63b"; }
.icon-fullmoon2f:before { content: "\e63a"; }
.icon-fullmoon2:before { content: "\e639"; }
.icon-fullmoon1f:before { content: "\e638"; }
.icon-fullmoon1:before { content: "\e637"; }
.icon-fog4f:before { content: "\e636"; }
.icon-fog4:before { content: "\e635"; }
.icon-heavyhailfullmoon:before { content: "\e63e"; }
.icon-heavyhailfullmoonf:before { content: "\e63f"; }
.icon-heavyhailnight:before { content: "\e640"; }
.icon-heavyhailnightf:before { content: "\e641"; }
.icon-heavyrain1:before { content: "\e642"; }
.icon-heavyrain1f:before { content: "\e643"; }
.icon-heavyrain2:before { content: "\e644"; }
.icon-heavyrain2f:before { content: "\e645"; }
.icon-hailfullmoon1:before { content: "\e646"; }
.icon-heavyhailday:before { content: "\e64f"; }
.icon-heavyhail:before { content: "\e64e"; }
.icon-hailnight2f:before { content: "\e64d"; }
.icon-hailnight2:before { content: "\e64c"; }
.icon-hailnight1f:before { content: "\e64b"; }
.icon-hailnight1:before { content: "\e64a"; }
.icon-hailfullmoon2f:before { content: "\e649"; }
.icon-hailfullmoon2:before { content: "\e648"; }
.icon-hailfullmoon1f:before { content: "\e647"; }
.icon-heavyhaildayf:before { content: "\e650"; }
.icon-heavyhailf:before { content: "\e651"; }
.icon-moon1f:before { content: "\e652"; }
.icon-moon2:before { content: "\e653"; }
.icon-moon2f:before { content: "\e654"; }
.icon-moon3:before { content: "\e655"; }
.icon-moon3f:before { content: "\e656"; }
.icon-moon4:before { content: "\e657"; }
.icon-moon4f:before { content: "\e658"; }
.icon-mixrainfall1:before { content: "\e661"; }
.icon-mist:before { content: "\e660"; }
.icon-heavyrainnightf:before { content: "\e65f"; }
.icon-heavyrainnight:before { content: "\e65e"; }
.icon-heavyrainfullmoonf:before { content: "\e65d"; }
.icon-heavyrainfullmoon:before { content: "\e65c"; }
.icon-heavyrainday:before { content: "\e65a"; }
.icon-moonfirstquarterf:before { content: "\e659"; }
.icon-mixrainfall1f:before { content: "\e662"; }
.icon-mixrainfall2:before { content: "\e663"; }
.icon-mixrainfall2f:before { content: "\e664"; }
.icon-moon1:before { content: "\e665"; }
.icon-mostlycloudy2f:before { content: "\e666"; }
.icon-partlycloudy1f:before { content: "\e668"; }
.icon-partlycloudy2:before { content: "\e669"; }
.icon-partlycloudy2f:before { content: "\e66a"; }
.icon-partlycloudy3:before { content: "\e66b"; }
.icon-partlycloudy3f:before { content: "\e66c"; }
.icon-rain1:before { content: "\e66d"; }
.icon-moonhorizon:before { content: "\e66e"; }
.icon-moonhorizonf:before { content: "\e66f"; }
.icon-moonlastquarterf:before { content: "\e670"; }
.icon-moonsea:before { content: "\e671"; }
.icon-moonseaf:before { content: "\e672"; }
.icon-moonwaningcrescentf:before { content: "\e673"; }
.icon-compasswf:before { content: "\e604"; }
.icon-compassw:before { content: "\e603"; }
.icon-compasssf:before { content: "\e602"; }
.icon-mostlycloudy2:before { content: "\e679"; }
.icon-mostlycloudy1f:before { content: "\e678"; }
.icon-mostlycloudy1:before { content: "\e677"; }
.icon-moonwaxinggibbousf:before { content: "\e676"; }
.icon-moonwaxingcrescentf:before { content: "\e675"; }
.icon-moonwaninggibbousf:before { content: "\e674"; }
.icon-blizzardf:before { content: "\e608"; }
.icon-clouddown:before { content: "\e609"; }
.icon-clouddownf:before { content: "\e60a"; }
.icon-cloudrefresh:before { content: "\e60b"; }
.icon-cloudrefreshf:before { content: "\e60c"; }
.icon-cloudup:before { content: "\e60d"; }
.icon-compassf:before { content: "\e612"; }
.icon-compassef:before { content: "\e611"; }
.icon-compasse:before { content: "\e610"; }
.icon-compass:before { content: "\e60f"; }
.icon-cloudupf:before { content: "\e60e"; }
.icon-fog1f:before { content: "\e617"; }
.icon-drizzle:before { content: "\e618"; }
.icon-drizzlef:before { content: "\e619"; }
.icon-drop:before { content: "\e61a"; }
.icon-dropcloud:before { content: "\e61b"; }
.icon-dropcloudf:before { content: "\e61c"; }
.icon-dropf:before { content: "\e61d"; }
.icon-droppercentage:before { content: "\e61e"; }
.icon-droppercentagef:before { content: "\e61f"; }
.icon-drops:before { content: "\e620"; }
.icon-star:before { content: "\e601"; }
