@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/*material design icons font*/


@font-face {font-family: 'iconfont';
  src: url(../fonts/iconfont.eot); /* IE9*/
  src: url(../fonts/iconfont.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../fonts/iconfont.woff) format('woff'), /* chrome、firefox */
  url(../fonts/iconfont.ttf) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url(../fonts/iconfont.svg#iconfont) format('svg'); /* iOS 4.1- */
} 

.iconfont{ 
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  }

  /*ali iconfont  -weathericons*/

