ul,li,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0; 
}

*,*::before,*::after{
	box-sizing:border-box; 
}

ul,li{
	list-style: none;
}
.clear-float{
	clear: both; 
}

.ui-corner-all{
	display: none; 
}

.mdl-layout__tab-panel{ 
	 
	 
	background: #eee;    
	color: rgba(0,0,0,.54);  

}    

.mdl-layout__header-row{
	padding-left: 16px;  
}



.this-day-stuff{
	position: relative;  
	padding: 10px; 
	background: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
	0 2px 1px -2px rgba(0, 0, 0, 0.2), 
	0 1px 2px 0 rgba(0, 0, 0, 0.12); 
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),
	background-color .2s cubic-bezier(.4,0,.2,1),
	color .2s cubic-bezier(.4,0,.2,1);
}
.this-day-stuff h3,.this-day-stuff h5{
	display: inline-block;
	width:33.33%;
	text-align: left;
	font-weight: 600;  
}

.this-day-stuff h3{     
	font-size: 20px;            
}
.this-day-stuff h5{
	font-size: 16px; 
	color: #aaa;         
}
.weather-image-container{
	width: 80px;
	height: 80px; 
	float: left; 
	margin-right:10%;  

}
.weather-image-container img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.temp-display{
	font-size: 30px;
	font-weight: 700;
	text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
.weather-infor-content{

}

.this-day-content-area{
	margin-top:20px;
}


.next-days h3{
	font-size: 16px;
	display: inline-block;
	margin-right: 15px;
	font-weight: 600;
	color: #aaa;

} 

.next-days img{
	width: 50px;
	height: 50px;  
	border-radius: 50%;
	margin-right: 15px; 

	
}

.next-days li{
	position: relative;
	background: #fff;  
	padding: 10px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
	0 2px 1px -2px rgba(0, 0, 0, 0.2), 
	0 1px 2px 0 rgba(0, 0, 0, 0.12); 
	margin: 10px 0px; 

}
.next-days span{
	margin-right: 15px;
}

.next-days .temprature-stuff{
	font-size: 20px;
	font-weight: 600;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2); 
}
.weather-state{
	font-size: 1.2rem;
	margin-right: 1rem; 


}

.get-innerHTML{
	display: none; 
}
 
.mdl-layout__header-row .wrapper{
	
    position: absolute;
    right: 16px; 
    top: 12px;
}

.demo-card-wide.mdl-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  width: 80%;
  z-index: 999; 

}
.demo-card-wide > .mdl-card__title {
  color: #fff;
 
  background: url('../assets/demos/welcome_card.jpg') center / cover;
  background: #2FAFC1; 
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
} 

.mdl-card{
	min-height: 0; 
}
.mdl-card__title{
	display: block;
}
.mdl-card__title-text{
	line-height: 1; 
}
.mdl-textfield{
	margin-top: 10px; 
}
.mdl-textfield__label{
	color: rgba(255,255,255,.7);
}
.mdl-textfield__label:after{
	background-color: rgba(255,255,255,1); 
}
.mdl-textfield__input{
	border-bottom: 1px solid rgba(255,255,255,.7); 
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
	color: rgba(255,255,255,1); 
}

.page-before-app-laungch{
	position: fixed;
	width: 100%;
	height: 280px; 
	background: rgba(255,255,255,0); 
	top: 0;
	left: 0;
	z-index: 9999;
	transition: all .3s ease-in-out; 
}

.loading-before-launch{
	padding: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 35px;
	height: 35px;   
	border-radius: 50%; 
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,1);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 
	0 2px 4px -2px rgba(0, 0, 0, 0.4), 
	0 1px 6px 0 rgba(0, 0, 0, 0.32);  
	
}

.loading-icon-container{
	font-size: 24px;  
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: colorchange 1.6s infinite; 

}

@keyframes colorchange{
	0% {color: #b0120a;}
	33% {color: #0d5302;}
	67% {color: #f57f17;}
	100% {color: #b0120a;} 
}

.error-page-info{
	padding: 1rem;
	font-size: 16px;
	color: #888;
	font-weight: 700; 
}

.error-more-detail{
	padding: 20px; 
	font-weight: 600;
	
}
.error-more-detail li{
	list-style: decimal;
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
	background: #fff; 
} 

body{
	background: #eee; 
}